{% extends 'base.html' %}

{% block title %}Danh sách đơn hàng{% endblock %}

{% block heading %}Danh sách đơn hàng{% endblock %}

{% block content %}
<div class="panel">
    <div class="panel-body">
        <div class="text-left">
            <a href="{% url 'create-ticket' %}" class="btn btn-green">Tạo đơn hàng</a>
            <br/>
            <br/>
        </div>
        <label><strong>Tìm kiếm:</strong></label><input type="text" onkeyup="filter(event)">
        <label><strong>Từ ngày:</strong></label><input type="date" min="2022-01-01" max="2100-12-31">
        <label><strong>Đến ngày:</strong></label><input type="date" min="2022-01-01" max="2100-12-31">
        <br/>
        <br/>
        <table id="ticket-list" class="table table-bordered table-hover">
            <thead class="text-center">
                <tr class="bg-gray text-black">
                    <th rowspan="2">Mã số</th>
                    <th rowspan="2">Ngày tạo</th>
                    <th rowspan="2">Khách hàng</th>
                    <th colspan="4">Khối lượng các loại (Tấn)</th>
                    <th rowspan="2">Tổng khối lượng (Tấn)</th>
                    <th rowspan="2">Tình trạng</th>
                </tr>
                <tr class="bg-gray text-black">
                    <th>Đá loại 1</th>
                    <th>Đá loại 2</th>
                    <th>Đá loại 3</th>
                    <th>Đá loại 4</th>
                </tr>
            </thead>
            
            <tbody>
            </tbody>
        </table>
        <div id="paginator"></div>
    </div>
    {{ tickets|json_script:"tickets" }}
    <script>
            let data = [];
            const tickets = JSON.parse(document.getElementById("tickets").textContent)
            for(let t of tickets){
                let row = { 
                    "Mã số": t.id,
                    "Ngày tạo": (new Date(t.created_at)).toLocaleString(),
                    "Khách hàng": t.customer,
                    "Đá loại 1": t.quantity1,
                    "Đá loại 2": t.quantity2,
                    "Đá loại 3": t.quantity3,
                    "Đá loại 4": t.quantity4,
                    "Tổng khối lượng": t.quantity1 + t.quantity2 + t.quantity3 + t.quantity4,
                    "Tình trạng": t.status == 1 ? "Đang lấy hàng" : "Đã giao hàng" 
                }
                data.push(row);
            }

            const options = {
                tableId:'ticket-list',
                currentPage:1,
                perPage:10,
                autoHeaders:false,
                arrowUp:'⇑',
                arrowDown:'⇓',
                previousText:'&#10094',
                nextText:'&#10095',
            }
    
            setTable(data, options);
    
        </script>
</div>
{% endblock %}