{% extends 'base.html' %}

{% block script %}
<script>
function myrefresh() {
    window.location.reload();
}
setTimeout('myrefresh()', 5000);
</script>
{% endblock %}

{% block title %}Danh sách đơn hàng{% endblock %}

{% block heading %}Danh sách đơn hàng{% endblock %}

{% block content %}
<div class="panel">
    <div class="panel-body">
        {% if request.user.is_superuser or request.user.is_receiver %}
        <div class="text-left">
            <a href="{% url 'create-ticket' %}" class="btn btn-green">Tạo đơn hàng</a>
            <br/>
            <br/>
        </div>
        {% endif %}
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="bg-gray text-black">
                    <th>Mã số</th>
                    <th>Ngày tạo</th>
                    <th>Khách hàng</th>
                    <th>Khối lượng (Tấn)</th>
                    <th>Tình trạng</th>
                </tr>
            </thead>
            
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        {% if request.user.is_superuser or request.user.is_distributor %}
                        <td scope="row">
                                <a href="{% url 'edit-ticket' ticket.id %}">{{ ticket.id }}</a>
                        </td>
                        {% else %}
                        <td scope="row">{{ ticket.id }}</td>
                        {% endif %}
                        <td>{{ ticket.created_at|date:"SHORT_DATE_FORMAT" }} {{ ticket.created_at|time:"h:i a" }}</td>
                        <td>{{ ticket.customer }}</td>
                        <td>{{ ticket.quantity }}</td>
                        {% if ticket.status == 1 %}
                        <td style="color: #EE5462"><b>{{ ticket.get_status_display }}</b></td>
                        {% else %}
                        <td style="color: #04AA6D"><b>{{ ticket.get_status_display }}</b></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
